.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 16px;
}

.snorlax {
    grid-column: span 2;
}

.snorlax { background: #b9bcc7; padding: 20px; }
.zubat   { background: #bfc8ff; padding: 20px; }
.diglett { background: #e8b18a; padding: 20px; }

.snorlax:hover, .zubat:hover, .diglett:hover {
    transform: scale(1.1); /* Cresce um pouco ao passar o mouse */
}

body {
    background: linear-gradient(to bottom, #87CEEB, #98FB98); /* Céu azul e grama verde */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}