/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* HEADER */
header {
    background-color: #0057D9; /* Azul Pokémon */
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid #D62B2F; /* Vermelho Pokémon */
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    
}

p {
    font-size: 1.2em;
}

/* BUTTONS SECTION */
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

button {
    background-color: #D62B2F; /* Vermelho Pokémon */
    color: white;
    font-size: 1.2em;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #FFCB05; /* Amarelo Pokémon */
    transform: scale(1.05);
}

button:focus {
    outline: none;
}

/* CONTENT AREA */
.content {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 10px;
    background-color: #0057D9; /* Azul Pokémon */
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
