.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: normal;
    gap: 16px;
}

.item-1 {
    flex-basis: 100px;

    background: #f7e7b2;      
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.item-2 {
    flex-basis: 100px;

    background: #f7b2b9;      
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.item-3 {
    flex-basis: 100px;

    background: #d8c1a3;      
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
