.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 16px;
}

.snorlax {
    grid-column: span 2;
}

.snorlax { background: #b9bcc7; padding: 20px; }
.zubat   { background: #bfc8ff; padding: 20px; }
.diglett { background: #e8b18a; padding: 20px; }